body {
    font-family:"Condiment", cursive;;
    background-color:white;
    margin:0;
}

header {
    background-color:rgb(114, 207, 131);
    background: linear-gradient(45deg, rgb(252, 254, 252) #3be30d);
    color: black;
    font-size:24px;
    padding: 20px;
}

#title {
    text-align: center;
}

#clock {
    text-align:center;
}

#weather{
    display:flex;
    justify-content:flex-end;
}

.search-box {
  display: flex;/*가로 방향*/
  justify-content: center;/*가로축 가운데 정렬*/
  align-items:stretch; /*세로축 세로 높이 맞추기*/
  gap: 10px;
  margin:30px auto;
}


#search-input {
    width:500px;
    padding: 10px;
    font-size:15px;
    border:2px solid #2ecc71;
    border-radius: 8px;
    outline:none;
}

#search-button {
    padding: 0 20px;
    font-size:15px;
    border:none;
    background:#2ecc71;
    color:white;
    border-radius:8px;
    cursor:pointer; /*이거 마우스 포인터 올렸을 때 포인터 모양 바꿔줌.ㅇㅇ*/
}

#search-button:hover { /*가상 클래스 찍먹 해보기*/
    background:#27ae60;
}
/*a:hover {
    color:red; 링크 위에 마우스 올리면 빨간색
}

img:hover {
    transform: scale(1.1); 마우스 올리면 이미지 1.1배 확대
}

.icon:hover {
    opacity:0.7 아이콘 위에 올리면 살짝 투명해짐
}*/

.icon-menu {
    display:flex;/*가로로 나란히 배치*/
    justify-content:center;/*세 아이콘을 가운데 정렬*/
    gap: 80px;
    margin-top:80px;
}


.icon1 {
    width:120px;
    cursor: pointer;
}
.icon1 i {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}
.icon1:hover i {
    color:#27ae60;
    transform: scale(1.2);
}
.icon1-p{
    margin-top:10px;
    font-weight:bold;
    color:#333;
}

.icon2 {
    width:120px;
    cursor: pointer;
}
.icon2 i {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}
.icon2:hover i {
    color:#27ae60;
    transform: scale(1.2);
}
.icon2-p{
    margin-top:10px;
    font-weight:bold;
    color:#333;
}

.icon3 {
    width:120px;
    cursor: pointer;
}
.icon3 i {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}
.icon3:hover i {
    color:#27ae60;
    transform: scale(1.2);
}
.icon3-p{
    margin-top:10px;
    font-weight:bold;
    color:#333;
}


/*
| 속성                | 역할       | `row` (기본)일 때 | `column`일 때 |
| ----------------- | -------- | ------------- | ----------- |
| `flex-direction`  | 주축 방향 설정 | 가로로 나열        | 세로로 쌓기      |
| `justify-content` | 주축 정렬    | 가로 정렬         | 세로 정렬       |
| `align-items`     | 교차축 정렬   | 세로 정렬         | 가로 정렬       |
*/


/*
text-align은 텍스트나 inline 요소(예: <span>, <a>, <img>)에만 적용됨.

블록 요소 <p> 자체를 가운데로 옮기진 않음.

즉, 글자 정렬용.
*/