#container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    min-height: 100vh; /*container의 최소 높이를 브라우저 화면 전체 높이와 같게 함*/
    background-color: black;
}

#image-box{
    flex:0 0 40%; /*화면이 커졌을 때를 대비해서 왼쪽에 1:1 비율로*/
    display:flex;
    justify-content: center;
    align-items: center;
}

#image-box img {
    max-width:400px;
    width:100%;
    height:auto;
    object-fit:contain;
}


#main-box {
    flex:0 0 40%;
    width:100%; /*로그인 박스가 부모 컨테이너 너비를 꽉 채우되, 320px까지만*/
    max-width: 400px;          
    padding: 20px;
    margin: 0 auto;    
    border-radius: 5px;
    background-color: white;
}

#h1-holder {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;  /* 세로 정렬 */
    gap: 15px;               /* 요소 간격 */
}

label {
    display: flex;
    flex-direction: column;  /* 라벨 위, 인풋 아래 */
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
}


#alarm {
    color: red;
    font-size:14px;
    font-weight: bold;
}


#login-button {
    font-family: "Condiment", cursive;
    height:2.5em;
    color:white;
    border-radius: 5px;
    margin-top: 10px;
    font-size:20px;
    font-weight: bold;
    background-color:rgb(29, 148, 184);
}

#login-button:hover {
    background-color:rgb(25,130,160) ;
}

@media screen and (max-width: 767px) {
    #container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }

    #image-box img {
        display: none;
    }

    #main-box {
        max-width:320px;
    }
}

/* 1vh : 현재 화면 높이 1% 
100vh : 브라우저 화면 높이의 100%
50vh : 화면 높이의 절반

min-height : 요소읭 최소 높이를 지정하는 속성
이 요소는 아무리 작아져도 이 높이보다 작아지면 안된다.
*/